.load {
  /* this is just a dummy class to add to the body in order that cssBundler
   * loads this module.
   * The rule defined below is to satisfay CSS linter "no empty ruleset"
   */
  font: inherit;
}

:root {
  --font-family: "Inter", sans-serif;
  --font-family-serif: "Papyrus", "Italiana", serif; 
  --font-small: normal 300 21px/28px var(--font-family);
  --font-regular: normal 300 25px/37px var(--font-family);
  --font-big: normal 30px/46px var(--font-family);
  --font-huge: normal 46px/64px var(--font-family);
  
  --color-theme: #4B6DB2;
  --color-theme-alt: #0E6E49;
  --color-theme-light: #4B6DB2;
  --color-theme-light-alt: #A8D3AF;
}
@media (max-width: 768px) {
  :root {
    --font-small: normal 300 15px/21px var(--font-family);
    --font-regular: normal 300 16px/23px var(--font-family);
    --font-big: normal 20px/28px var(--font-family);
    --font-huge: normal 27px/43px var(--font-family);
  }
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
html {
  font: var(--font-regular);
}
html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-family: var(--font-family-serif);
}
h2 {
  display: inline-block;
}
h2::before,
h2::after {
  content: ' ';
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100%;
  border-bottom: 3px solid var(--color-theme);
}
h2.left::before {
  transform: translateX(-99%);
}

li,
p {
  max-width: 900px;
  /* margin-inline: 3vw; */
  /* margin: 0 auto; */
}
ul,
ol {
  display: flex;
  flex-direction: inherit;
}

img {
  height: auto;
  width: auto;
}